body {
	background-color: white;
}

p, h1 {
	color: #262e6d;
}

.center {
	text-align: center;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
#centertitle {
	margin-top: 3%;
}


/* NAVBAR */
#navbar {
	margin-top: 3%;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: 2px solid #262e6d;
	border-radius: 5px;
}
#searchbutton {
	display: inline-block;
	text-align: center;
	width: 7%;
	color: white;
	background-color: #262e6d;
	height: 25px;
	border: 1px solid white;
	border-radius: 5px; 
}