body {
	background-color: white;
}

p, h1 {
	color: #262e6d;
}

.center {
	text-align: center;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
#centertitle {
	margin-top: 3%;
}


/* SEARCHBAR */
#searchbar {
	margin-top: 3%;
	margin-left: 65%;
	width: 30%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: 2px solid #262e6d;
	border-radius: 5px;
}

/* NAVBAR */
#navbar {
	margin-top: -5%;
	width: 60%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: 2px solid #262e6d;
	border-radius: 5px;
}

.navbuttons {
	text-align: center;
	width: 23%;
	color: white;
	background-color: #262e6d;
	height: 25px;
	border: 1px solid white;
	border-radius: 5px;
	cursor: pointer;
}

a {
	text-decoration: none;
}
a:link, a:visited {
	color: white;
}

/* SEARCHRESULTS */
#searchresults {
	margin-top: 1%;
	margin-left: 65%;
	width: 30%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: 2px solid #262e6d;
	border-radius: 5px;
}
.userblock {
	text-align: center;
/*	margin-right: auto;
	margin-left: auto;*/
	width: 90%;
	margin-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	border: 2px solid #262e6d;
	border-radius: 5px;	
}
.user {
	margin-top: 2%;
	font-size: 16px;
	font-family: Arial;
	margin-bottom: 2%;
}
#addfriend {
	width: 30%;
}