body {
	background-color: #262e6d;
}
/* LOGIN BOX */
.inputbox {
	height: 40px;
	width: 70%;
	margin-top: 5%;
}
#loginbox {
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	width: 30%;
	background-color: white;
	border: 5px solid white;
	border-radius: 10px;
}
#login {
	color: white;
	font-family: Arial;
	font-size: 30px;
}
.authenticate {
	color: white;
	font-size: 17px;
	height: 40px;
	width: 100px;
	margin-top: 7%;
	margin-left: 5%;
	border-radius: 5px;
	background-color: #434d98;
	border-style: none;
}
.authenticate:hover {
	background-color: white;
	color: #434d98;
	border: 1px solid #434d98;
	cursor: pointer;
}
#register {
	margin-top: 3%;
}
#register:hover {
	background-color: white;
	color: #434d98;
	border: 1px solid #434d98;	
}

/* TEXT CSS */
#divtitle {
	margin-top: 8%;
}
.center {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#title {
	color: white;
	font-size: 60px;
	font-family: Arial;
}
#notfound {
	margin-top: 2%;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: Arial;
}

#noaccount {
	margin-top: 10%;
	color: black;
	font-size: 15px;
	text-align: center;
}
a {
	text-decoration: none;
}
a:link, a:visited {
	color: white;
}