{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'events/groupstyle.css' %}"/>

<div class="center">
	<h1>Your groups</h1>
</div>

<div id="creategroupdiv">

	<h2>Create a group</h2>
	<div id="groupform">
		<form action="/events/creategroup/" method="post">
			<input type="text" id="grouptitle" name="grouptitle" maxlength="30"><br>
			{% csrf_token %}
			<input id="creategroupbutton" type="submit" value="Create">
		</form>
	</div>
</div>

<div id="groupdisplay">
	<div id="group">
	</div>
</div>

<h2> {{ result }} </h2>