{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'events/mainstyle.css' %}"/>

<div class="center" id="centertitle">
	<h1>Welcome to your dashboard, {{ user.username }}</h1>
</div>

<div id="dashboard">
	<div id="searchbar" class="headerbars">

		<div id="search" class="center">
			<form action="/events/search/" method="post">
				{% csrf_token %}
				<input id="searchinput" type="text" maxlength="20" name="searchinput">
				<input id="searchbutton" type="submit" value="Search" class="navbuttons">
			</form>
		</div>
	</div>

	<div id="navbar" class="headerbars">
		<button id="create" class="navbuttons"><a href="/events/create/">Create an Event</a></button>
		<button id="upcoming" class="navbuttons">Upcoming Events</button>

	</div>

	<div>
		{{ results }}
	</div>

</div>