{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'events/mainstyle.css' %}"/>

<div class="center" id="centertitle">
	<h1>Welcome to your dashboard, {{ request.session.username }}</h1>
</div>

<div id="dashboard">
	<div id="searchbar" class="headerbars">

		<div id="search" class="center">
			<form action="/events/search/" method="post">
				{% csrf_token %}
				<input id="searchinput" type="text" maxlength="20" name="searchinput">
				<input id="searchbutton" type="submit" value="Search" class="navbuttons">
			</form>
		</div>
	</div>

	<div id="navbar" class="headerbars">
		<a href="/events/create/"><button id="create" class="navbuttons">Create an Event</button></a>
		<a href=""><button id="upcoming" class="navbuttons">Upcoming Events</button></a>
		<a href=""><button id="groups" class="navbuttons">My groups</button></a>
		<a href="/events/viewfriends/"><button id="friends" class="navbuttons">My friends</button></a>
	</div>

	<div>
		{{ event_results }}
		{{ friends }}
	</div>

	{% if results %}
		<div id="searchresults">
			{% for user in results %}
				<div class="userblock">
					<p class="user">{{ user.username }}</p>
					<a href="/events/addFriend/{{user.username}}">
						<button class="navbuttons" id="addfriend">Add as friend</button>
					<a/>
				</div>
			{% endfor %}
		</div>
	{% endif %}

</div>